.cards {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 40px 0;
}


@media only screen and (max-width: 767px) {
    .cards {
        padding: 25px 0;
        flex-direction: column;
    }
}

.cards__filter {
    flex-basis: 25%;
    margin-right: 47px;
    padding: 55px 25px;

    background-color: var(--light-bg-color);
}

@media only screen and (max-width: 1199px) {
    .cards__filter {
        flex-basis: 25%;
        margin-right: 20px;
        padding: 20px;
    }

    .cards__filter .select {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .cards__filter {
        flex-basis: 35%;
    }
}

@media only screen and (max-width: 767px) {
    .cards__filter {
        flex-basis: 100%;
        margin-right: 0;
        padding: 25px;
        margin-bottom: 25px;
    }

    .cards__filter .select {
        margin-bottom: 25px;
    }

    .cards__filter .select:last-of-type {
        margin-bottom: 0;
    }
}

.cards__wrapper {
    flex-basis: 75%;
    padding: 55px 112px 25px;

    background-color: var(--light-bg-color);
}

@media only screen and (max-width: 1199px) {
    .cards__wrapper {
        flex-basis: 75%;
        padding: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .cards__wrapper {
        flex-basis: 65%;
    }
}

@media only screen and (max-width: 767px) {
    .cards__wrapper {
        flex-basis: 100%;
        padding: 0;

        background-color: transparent;
    }
}

.cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 50px);
    margin: -25px -25px 25px;
}

@media only screen and (max-width: 767px) {
    .cards__list {
        width: calc(100% + 25px);
        margin: -12px -12px 12px;
    }
}

@media only screen and (max-width: 550px) {
    .cards__list {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0 0 25px;
    }
}

.cards__item {
    flex-basis: calc(50% - 50px);
    margin: 25px;

    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .cards__item {
        flex-basis: calc(50% - 25px);
        margin: 12px;
    }
}

@media only screen and (max-width: 550px) {
    .cards__item {
        flex-basis: 100%;
        margin: 0 0 25px;
    }
}
