.card-detail {
    display: flex;
    flex-direction: row;
    padding: 40px 0;

    color: #8e8e8e;
}

@media only screen and (max-width: 550px) {
    .card-detail {
        padding: 20px 0;
        flex-direction: column;
    }
}

.card-detail b {
    color: var(--main-bg-color);
}

.card-detail__block:first-of-type {
    max-width: 622px;
    flex-basis: 60%;
    margin-right: 35px;
}

@media only screen and (max-width: 550px) {
    .card-detail__block:first-of-type {
        margin-right: 0;
    }
}

.card-detail__block {
    flex-basis: 40%;
}

.card-detail__image {
    width: 100%;
    max-width: 622px;
    height: auto;
    margin-bottom: 40px;

    overflow: hidden;
}

@media only screen and (max-width: 550px) {
    .card-detail__image {
        margin-bottom: 15px;
    }
}

.card-detail__image img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.card-detail__info {
    margin-bottom: 41px;
    padding-bottom: 38px;

    border-bottom: 1px solid rgba(33, 37, 41, 0.15);
}

@media only screen and (max-width: 550px) {
    .card-detail__info {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

.card-detail__info:last-of-type {
    margin-bottom: 0;

    border-bottom: none;
}

.card-detail__info p,
.card-detail__info li {
    margin: 12px 0;
}

.card-detail__info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-detail__info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.card-detail__info li::before {
    content: "";
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 7px;

    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
}


.card-detail__title {
    display: none;
    margin: 0 0 20px;

    font-weight: 700;
    color: var(--main-bg-color);
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .card-detail__title {
        display: block;
    }
}
