@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.modal-card {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.75);
}

.modal-card__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 540px;
    height: calc(100vh - 100px);

    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
}

@media only screen and (max-width: 550px) {
    .modal-card__wrapper {
        min-width: 320px;
    }
}

.modal-card__wrapper--show {
    display: flex;

    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;

    color: #617675;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;

    border-radius: 5px 5px 0 0;
    background-color: var(--main-bg-color);
}

.modal-card__title {
    margin: 0 15px 0 0;
}

.modal-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    padding: 15px 20px;
}

.modal-card__body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-card__close {
    position: relative;
    width: 20px;
    height: 20px;

    border: none;
    background-color: transparent;
    outline: none;
}

.modal-card__close span {
    display: none;
}

.modal-card__close:hover::before,
.modal-card__close:hover::after,
.modal-card__close:focus::before,
.modal-card__close:focus::after {
    background-color: #404f4e;
}

.modal-card__close::before,
.modal-card__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: #617675;

    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
}

.modal-card__close::after {
    transform: rotate(-45deg);
}
