.select {
    margin-bottom: 57px;
    position: relative;
    color: #000000;
    font-size: inherit;
}

.select__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--main-bg-color);
    border: 1px solid transparent;
    padding: 15px 14px;
    font-size: inherit;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;

    cursor: pointer;
}

.select__header::after {
    position: relative;
    display: inline-block;
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;

    transition: all 0.25s ease-in-out;
}

.select--open .select__header {
    border-color: var(--light-bg-color);
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.select--open .select__header::after {
    transform: rotate(180deg);
}

.select__header:hover {
    background-color: var(--btn-bg-hover);
}

.select__body {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background-color: #fff;
    color: rgb(33, 37, 41);

    z-index: 10;
}

.select--open .select__body {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0;
}

.select__search {
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.select__search input {
    width: 100%;
    padding: 8px 16px;

    font-family: inherit;

    border: none;
    border-radius: 0.2rem;
    background-color: var(--light-bg-color);
    transition: all 0.15s ease-in-out;
    outline: none;
}

.select__search input:focus {
    background-color: var(--main-bg-color);
}

.select__list {
    display: flex;
    flex-direction: column;
    max-height: 180px;
    overflow-y: auto;

    scrollbar-color: var(--main-bg-color) #fff;
    scrollbar-width: thin;
}

.select__list::-webkit-scrollbar {
    width: 10px;
    height: auto;
    background-color: #fff;
}

.select__list::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
    border-radius: 2px;
}

.select__item {
    padding: 8px 32px;

    color: inherit;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.select__item--active,
.select__item:hover,
.select__item:focus {
    color: #000000;
    background-color: var(--light-bg-color);
}
